.root {
  margin-bottom: 64px;
  background-color: #edf2f7;
}

.header {
  padding: 60.8px 0 64px;
  line-height: 1.4;
  text-align: center;
}

.wrap {
  padding: 0 40px;
  margin: 0 auto;
}

.title {
  margin: 18px auto 0;
  font-size: 33px;
}

.date {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  color: #65717b;
}
